body{
 background-color:rgb(226, 230, 14);
}
#prueba{
 color:purple;
}
.clase{
 background-color:white;
}
@media (min-width: 640px) and (max-width: 650px) {
    body {
        background-color: aqua !important;
    }
    
}