body{
 background-color:#e6270e;
}
#prueba{
 color:#e93d3d;
}
.clase{
 background-color:#e6270e;
}
@media (min-width: 640px) and (max-width: 650px) {
    body {
        background-color: #e6270e !important;
    }
    
}